@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html {
  font-family: Quicksand, sans-serif;
  font-weight: bold;
  background-image: linear-gradient(50deg, rgb(176, 102, 102), rgb(185, 126, 126));
  height: 100vh;
  line-height: 40px;
  overflow-y: hidden;
}

h1 {
  text-align: center;
  margin: 5vh 0;
  font-size: 34px;
}

label {
  font-size: 30px;
}

#form {
  display: grid;
  grid-template-columns: 0.3fr 0.1fr 0.3fr;
  grid-template-rows: ;
  justify-content: space-around;

  height: 200px;
  margin-top: 20vh;
  text-align: center;
}
#sugar, #maple {
  display: grid;
}
#equal {
  font-size: 60px;
  padding-top: 9%;
}

input, select {
  padding: 10px 20px;
  width: 30vw;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}
select {
  width: 100%;
}

#liquid {
  margin-top: 25vh;
  text-align: center;
  font-style: oblique;
  font-size: 28px;
}

@media (max-width: 800px) {
  h1 {margin-top: 5%}
  #form {margin-top: 30%}
  #liquid {margin-top: 30%}
}
